<!doctype html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>MaxDrive | Explore</title>
      
   <link rel="shortcut icon" href="/assets/images/favicon.ico" />
       
   <link rel="stylesheet" href="/assets/css/backend-plugin.min.css">
   <link rel="stylesheet" href="/assets/css/backende209.css?v=1.0.0">
   

     <!-- new Vendors -->
     <link rel="stylesheet" href="/assets/vendor/tagsinput/bootstrap-tagsinput.css">
     <link rel="stylesheet" href="/assets/vendor/timeline-master/style.css">
     <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/assets/vendor/fontawesome/css/fontawesome.min.css">
     <link rel="stylesheet" href="/assets/vendor/fontawesome/css/solid.css">

      <!-- <script async src="/assets/vendor/jquery/jquery_3.5.1.min.js"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
      <script async src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
     <script  src="/assets/vendor/socketio/socket.io.min.js"></script>
     <!-- new Vendors -->

   

    </head>
  <body class="color-light">
   <div id="comments-container"></div>
     <!-- Init jquery-comments -->
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- nav scriot -->
    <script>
        var explore_view  = true;
    </script>
    <!-- nav scriot -->
    <!-- Wrapper Start -->
    <div class="wrapper">
      
        <%-include('components/sidebar.ejs',{}) -%>
            <div class="iq-top-navbar">
                <%-include('components/header.ejs',{}) -%>
      </div>
      <div class="content-page">
      <div class="container-fluid">
         <div class="row" id="medias">
         </div>
      </div>
      </div>
    </div>
    <%-include('components/footer.ejs',{}) -%>
    <script src="/assets/js/backend-bundle.min.js"></script>
    
    <script src="/assets/js/customizer.js" defer></script>
   
    <script src="/assets/js/app.js" defer></script>
  </body>

</html>