<!doctype html>
<html lang="en">
  
<!-- Bug share page -->
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>MaxDrive | Bugs</title>
      
   <!-- Favicon -->
   <link rel="shortcut icon" href="/assets/images/favicon.ico" />
       
   <link rel="stylesheet" href="/assets/css/backend-plugin.min.css">
   <link rel="stylesheet" href="/assets/css/backende209.css?v=1.0.0">

    <!-- new Vendors -->
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/solid.css">
     <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap-grid.min.css">
     <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
     <script src="/assets/vendor/socketio/socket.io.min.js"></script>
     <!-- new Vendors -->
    </head>
  <body class="color-light ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->

    <!-- nav scriot -->
    <script>
        var bug_page  = true;
    </script>
    <!-- nav scriot -->

    <!-- Wrapper Start -->
    <div class="wrapper">
      
        <%-include('components/sidebar.ejs',{}) -%>
            <div class="iq-top-navbar">
                <%-include('components/header.ejs',{}) -%>
      </div>
      <div class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-6">
               <button class="btn btn-success" onclick="submit_bug(event)">Submit Bug</button>
            </div>
         </div>
         <div class="row" id="bugs">
            <div class="col-sm-12">
               <h3 class="mb-2">Bugs Wall</h3>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
               <div class="card text-white bg-primary" >
                  <div class="card-body">
                     <h4 class="card-title text-white">Bug#1</h4>
                     <blockquote class="blockquote mb-0">
                        <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer text-white font-size-12"><a class="mt-2 badge badge-secondary">In Progress</a><a class="mt-2 badge badge-info">Open</a><a class="mt-2 badge badge-warning">Closed</a></footer>
                     </blockquote>
                  </div>
               </div>
            </div> -->
         </div>
      </div>
      </div>
    </div>
    <!-- Wrapper End-->
    <%-include('components/footer.ejs',{}) -%>
    <!-- Backend Bundle JavaScript -->
    <script src="/assets/js/backend-bundle.min.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="/assets/js/customizer.js" defer></script>
    
   
    <!-- app JavaScript -->
    <script src="/assets/js/app.js" defer></script>
  </body>

<!-- page live share -->
</html>