<div class="iq-sidebar  sidebar-default ">
    <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
        <a href="/user/" class="header-logo">
            <img src="/assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
            <img src="/assets/images/logo-white.png" class="img-fluid rounded-normal darkmode-logo" alt="logo">
        </a>
        <div class="iq-menu-bt-sidebar">
            <i class="fa-solid fa-bars wrapper-menu"></i>
        </div>
    </div>
    <div class="data-scrollbar" data-scroll="1">
        <div class="new-create select-dropdown input-prepend input-append">
            <div class="btn-group">
                <div data-toggle="dropdown">
                <div class="search-query selet-caption"><i class="fa-solid fa-plus"></i>Create New</div><span class="search-replace"></span>
                <span class="caret"><!--icon--></span>
                </div>
                <ul class="dropdown-menu">
                    <li><div onclick="createFolder()" class="item"><i class="fa-solid fa-folder-plus"></i>New Folder</div></li>
                    <li><div onclick="upload_file()" class="item"><i class="fa-solid fa-arrow-up-from-bracket"></i>Upload Files</div></li>
                    <li><div onclick="upload_folder()" class="item"><i class="fa-solid fa-up-long"></i>Upload Folders</div></li>
                </ul>
            </div>
        </div>
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                 <li class="active">
                        <a href="/user/" class="">
                            <i class="fa-solid fa-house"></i><span>Dashboard</span>
                        </a>
                    <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    </ul>
                 </li>
                 <li class=" ">
                    <a href="#mydrive" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="fa-solid fa-hard-drive"></i><span>File Manager</span>
                    </a>
                    <ul id="mydrive" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    </ul>
                 </li>
               
                 <%if(data.Auth!==undefined&&data.Auth.role==="admin"){%>
                 <li class=" ">
                    <a href="#admintask" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="fa-solid fa-list"></i><span>Admin Action</span>
                    </a>
                    <ul id="admintask" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li>
                        <a href="/admin/userlist">
                            <i class="fa-solid fa-list-check"></i><span>User list</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/analytics">
                            <i class="fa-solid fa-circle-info"></i><span>Analytics</span>
                        </a>
                    </li>
                    </ul>
                 </li>
                 <%}%>
                 <li class=" ">
                        <a href="/user/files" class="">
                            <i class="fa-solid fa-file"></i><span>Files</span>
                        </a>
                    <ul id="page-files" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    </ul>
                 </li>
                 <li class=" ">
                        <a href="/user/recent" class="">
                            <i class="fa-solid fa-stopwatch"></i><span>Recent</span>
                        </a>
                    <ul id="page-folders" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    </ul>
                 </li>
                 <li class=" ">
                        <a href="/user/favorite" class="">
                            <i class="fa-solid fa-star"></i><span>Favourite</span>
                        </a>
                    <ul id="page-fevourite" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    </ul>
                 </li>
                 <li class=" ">
                    <a href="#otherpage" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="fa-regular fa-file"></i><span>other page</span>
                    </a>
                    <ul id="otherpage" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li class=" ">
                                 <a href="/explore">
                                    <i class="fa-solid fa-signal"></i><span>Explore</span>
                                    </a>
                            </li>
                            <li class=" ">
                                <a href="/rooms">
                                    <i class="fa-solid fa-door-open"></i><span>Rooms</span>
                                   </a>
                           </li>
                           <li class=" ">
                            <a href="/bugs">
                                <i class="fa-solid fa-bug"></i><span>Report BUG</span>
                               </a>
                       </li>
                    </ul>
                 </li>
            </ul>
        </nav>
        <div class="sidebar-bottom" id="storage_card_sidebar">
            <h4 class="mb-3"><i class="fa-solid fa-cloud"></i>Storage</h4>
            <p>17.1 / 20 GB Used</p>
            <div class="iq-progress-bar mb-3">
                <span class="bg-primary iq-progress progress-1" data-percent="67">
                </span>
            </div>
            <p>75% Full - 3.9 GB Free</p>
            <a href="#" class="btn btn-outline-primary view-more mt-4">Buy Storage</a>
        </div>
        <div class="p-3"></div>
    </div>
    </div>  